$cta-blue:#0A3f65;
$white:#fff;

.blue-cta {
    background: $cta-blue;
    color: $white;
    font-size: 1.7rem;
    line-height: 2.8rem;
    margin: 0 auto;
    padding: 4.5rem 8rem;
    text-align: center;

    * {
        color: $white;
    }

    h2,
    h3 {
        font-weight: 400;
    }

    &__button-link {
        background: transparent;
        border: 0.2rem solid $white;
        border-radius: 0.3rem;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.5rem;
        transition: all 0.3s;
        text-align: center;
        text-transform: uppercase;
        padding: 1.4rem 3.3rem 1.1rem;
        color: #fff;
        width: auto;
        &:hover,
        &:focus,
        &.focus,
        &.js-focus {
            background: $white;
            border-color: $white;
            color: $cta-blue;
        }
    }

    &--wide {
        max-width: none;
    }
}